.ChallengeBoxContainer {
    margin-top: 3rem;
    height: 90%;

    background-color: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

@media(max-width: 720px){
    .ChallengeBoxContainer {
        margin-top: 0rem;
    }
}

.ChallengeBoxContainerNotActive {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ChallengeBoxContainerNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.ChallengeBoxContainerNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.ChallengeBoxContainerNotActive p  img {
    margin-bottom: 1.5rem;
}

.ChallengeBoxContainerActive {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.ChallengeBoxContainerActive header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.ChallengeBoxContainerActive main {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ChallengeBoxContainerActive main strong {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.ChallengeBoxContainerActive main p {
    line-height: 1.5;
}

.ChallengeBoxContainerActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ChallengeBoxContainerActive footer button {
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secondary);
    font-size: 1rem;
    font-weight: 600;

    border: 0;
    border-radius: 5px;

    transition: filter 0.2s;
}


.ChallengeBoxContainerActive footer button.ChallengeFailedButton {
    background-color: var(--red);
}

.ChallengeBoxContainerActive footer button.ChallengeSucceededButton {
    background-color: var(--green);
}

.ChallengeBoxContainerActive footer button:hover {
    filter: brightness(0.9);
}
