.container {
    background-color: var(--backgroundIndex);
    color: var(--white);
}

.container section {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 0rem 2rem;
}

.container img {
    margin-bottom: 6rem;
    width: 400px;
    height: 100px;
}

.container > div {
    display: flex;
    justify-content: center;
}

.container section > div h2 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.home {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.home p {
    font-size: 1rem;
    margin-left: 1.5rem;
    width: 250px;
    color: #B2B9FF;
}

.home:-moz-placeholder {
    color: #fff;
}

.home input  {
    padding: 1rem;
    height: 70px;
    width: 300px;
    border-radius: 5px;
    border: 0;
    background: linear-gradient(90deg, var(--inputBackground), transparent);
    color: var(--white);
    font-size: 1.5rem;
}



.home button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
    width: 60px;
    background-color: var(--green);
    border-radius: 5px;
    border: 0;
    margin-left: 4px;
}


@media(max-width: 720px) {

    .container section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container section > div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container img {
        margin-bottom: 3rem;
        width: 20rem;
        height: 10rem;
    }

    .home input  {
        height: 60px;
        width: 250px;
    }

    .home button {
        height: 60px;
        width: 60px;
    }
}
